.modalImage {
  max-width: 100%;
  max-height: 90vh;
  display: block;
  margin: 0 auto;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
